{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.custom_text %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Custom Text") }}</th>
      <td class="dataset-details">{{ pkg_dict.custom_text }}</td>
    </tr>
    
    <tr>
    <td class="dataset-details"> Other Custom Text </td>
    </tr>
    
    <tr>
      <th scope="row" class="dataset-label">{{ _("Custom Text One") }}</th>
      <td class="dataset-details">{{ pkg_dict.custom_text_1 }}</td>
    </tr>
    <tr>
      <th scope="row" class="dataset-label">{{ _("Custom Text Two") }}</th>
      <td class="dataset-details">{{ pkg_dict.custom_text_1 }}</td>
    </tr>
  {% endif %}
{% endblock %}